.task-card {
    width: 100%;
    height: auto;
    background-color: var(--tertiary-light);
    border-left: 1rem solid #33dd11;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    font-family: "Roboto", serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    cursor: pointer;
}

.task-header, .task-footer {
    display: flex;
    justify-content: space-between;
}

.task-header {
    font-weight: bold;
}
