.filter-pane {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.addSwimlane {
    align-self: flex-end;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.addSwimlane:hover {
    opacity: 0.8;
}

.addSwimlane svg {
    fill: var(--white);
}

.search-container {
    display: flex;
    height: 3rem;
    align-items: center;
}

#search-input {
    font-family: "Roboto", serif;
    padding: 0.5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0;
}


.search-icon {
    height: 2.5rem;
    background-color: var(--secondary);
    fill: var(--white);
    display: flex;
    align-items: center;
}

.search-icon svg {
    fill: var(--contrast);
    padding-right: 0.5rem;
    width: 2rem;
}