.dashboard {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    padding-bottom: 0;
}

.new-task:hover {
    opacity: 0.8;
}

.swim-lanes {
    width: 100%;
    height: auto;
    padding: 0 2rem;
    overflow-y: auto;
}

