:root {
    --primary-light: #0049B0;
    --secondary-light: #F4F5F7;
    --tertiary-light: #FFFFFF;
    --icons-light: #223558;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px auto;
    position: relative;
}

.nav {
    background-color: var(--secondary-grey);
}

.content {
    height: 100%;
    background-color: var(--tertiary-light);
}