.create-task-modal {
    width: 400px;
    height: 600px;
    position: absolute;
    bottom: 50px;
    right: 200px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.modal-title {
    font-size: 1rem;
    font-weight: 600;
}

.icon-row {
    display: flex;
    gap: 0.5rem;
}

#new-task-form {
  
}

label {
    font-size: 0.9rem;
    font-weight: bold;
}

#project-select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s ease; 
}

#project-select:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); 
    outline: none;
}

#project-select:hover {
    border-color: #aaa; /* Slightly darker border on hover */
}

#project-select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

#project-select option:disabled {
    color: #888;
}






#new-task-form {

    padding: 1rem;
}