.view-task-modal {
    width: clamp(200px, 800px, 90%);
    height: 600px;
    padding: 1rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", serif;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 100%;
    gap: 1rem;
    place-content: center;
}

.view-task-header {
    display: flex;
    flex-direction: column;
}

.view-task-header .upper {
    display: flex;
}

.view-task-header .lower {
    display: flex;
}

.view-task-header .upper {
    display: flex;
    justify-content: end;
}

.view-task-header .lower {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
}

.view-task-header #summary {
    border: none;
}
.view-task-header #summary {
    border: none;
}

.view-task-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.modal-left {
}

.modal-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.view-task-body label {
    padding: 0 0.5rem;
    font-size: 1.1rem;
    color: var(--text);
}

#view-task-description {
    height: 400px;
    width: 80%;
    padding: 0.5rem;
    resize: none;
    field-sizing: content;
    outline: none;
    border: none;
    transition: all ease 0.3s;
    color: var(--text);
}

#view-task-description:hover {
    background-color: #f0f1f4;
}

#view-task-description:focus {
    height: 400px;
    width: 80%;
    resize: none;
    field-sizing: content;
    border: 1px solid black;
}