.view-task-modal {
    width: clamp(200px, 800px, 90%);
    height: 600px;
    padding: 1rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    gap: 1rem;
    place-content: center;
}

.view-task-header {
    display: flex;
    flex-direction: column;
}

.view-task-header .slug {
    font-weight: 600;
    color: var(--primary-light);
}

.view-task-header .upper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.view-task-header .upper select {
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    appearance: none;
    cursor: pointer;
}

.view-task-header select:hover {

    background-color: var(--secondary-light);
}

.view-task-header select:focus {
    border: 2px solid #4D90FE;
    outline: none;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}

.view-task-header select option {
    background: transparent;
    color: inherit;
    padding: 0;
    border: none;
    font: inherit;
    border-radius: 0px;
}

.view-task-header .lower {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
}

.view-task-header #summary {
    border: none;
}

.view-task-header #summary {
    border: none;
}

.view-task-body {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
}

.view-task-body label {
    padding: 0 0.5rem;
    font-size: 1.1rem;
    color: var(--text);
}

.modal-left {
    display: grid;
}

.modal-left .form-group {
    display: flex;
    flex-direction: column;
}

#view-task-description {
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem;
    color: var(--text);
    resize: none;
    outline: none;
    border: none;
    transition: all ease 0.3s;
    overflow-y: auto;
}

#view-task-description:hover {
    background-color: #f0f1f4;
}

#view-task-description:focus {

    outline: 1px solid black;
}

.modal-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.view-task-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.view-task-footer button {
    width: 4rem;
    height: 2.3rem;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0049B0;
}