@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.dummy-card.bounce,
.demo-card.bounce {
    animation: bounce 1s infinite alternate ease-in-out;
}

.projects-page {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-list {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    overflow-y: auto;
}

.projects-list.init {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.project-card {
    width: 300px;
    height: 260px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: var(--cards);
    color: var(--text-sublist);;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.project-card .header {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project-card .close {
    display: grid;
    place-content: center;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: red;
    opacity: 0.5;
    fill: #FFFFFF;
    cursor: pointer;
}

.project-card .close:hover {
    opacity: 1;
}

.project-card .close svg {
    width: 100%;
}

.project-card .body {
    display: grid;
    place-content: center;
}

.dummy-card {
    width: 300px;
    height: 260px;
    padding: 2rem;
    background-color: var(--tertiary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    gap: 0.5rem;
    transition: border 0.2s ease;
    cursor: pointer;
    opacity: 0.5;
    place-items: center;
    grid-column: span 1;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.dummy-card.bounce {
    grid-template-rows: auto 1fr;
}

.dummy-card:hover,
.project-card:hover {
    opacity: 1;
    background-color: #dddddd;
    color: var(--text-sublist);
    fill: var(--text-sublist);
}

.project-card.selected {
    opacity: 1;
    background-color: var(--primary);
    color: var(--secondary);
    fill: var(--secondary);
}