.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.new-task {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    background-color: #0049B0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.new-task:hover {
    opacity: 0.9;
}


.dashboard-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


.swim-lanes {
    width: 100%;
    height: calc(100vh - 10rem);
    padding: 0 2rem;
}