#new-task-form::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#new-task-form::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#new-task-form::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 3px solid #f1f1f1;
}

#new-task-form::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.create-task-modal {
    width: 350px;
    height: 500px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 25px;
    right: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.modal-title {
    font-size: 1rem;
    font-weight: 600;
}

.icon-row {
    display: flex;
    gap: 0.5rem;
}

.create-task-modal .icon-row svg {
    cursor: pointer;
}

.create-task-modal .icon-row svg:hover {
    opacity: 0.5;
}

#new-task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
    overflow-y: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
}

#new-task-form select {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
}


#new-task-form option {
    padding: 10px;
    background-color: #fff;
}

input, textarea {
    border: 1px solid black;
}

select {
    outline: 1px solid black;
}

input {
    width: 100%;
    height: 2.2rem;
    padding: 0 0.5rem;
    border-radius: 5px;
}

#description{
    width: 100%;
    min-height: 4.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    resize: none;
    field-sizing: content;
}

.modal-footer {
    padding: 0.5rem;
    align-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.modal-footer button {
    width: 4rem;
    height: 2.3rem;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0049B0;
}

.modal-footer button:hover {
    opacity: 0.8;
}