.tasks-page {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.tasks-page .tasks-header {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.tasks-page .container {
    width: 100%;
    height: auto;
    background-color: var(--secondary-light);
    padding: 0.5rem;
}

.tasks-page .tasks-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
}