.tasks-page {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.tasks-page .header {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasks-page .tasks-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.tasks-page .container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
}